.exotics {
    border: 1px solid white;
    border-radius: 10px;
    flex: 1 0 250px;
    height: 550px;
    overflow: hidden;
    margin: 10px 20px;
    text-align: center;
}

.heart {
    font-size: 1.5em;
    color: maroon;
}

.destTitle {
    text-align: center;
    color: white;
}

.destImage {
    width: 100%;
    height: auto;
    min-height: 250px;
    box-sizing: border-box;
    border: 2px solid black;
    background: white;
    padding: 10px;
}

.destImage:hover {
    background: rgb(64, 139, 224);
    cursor: pointer;
}

.descriptor {
    color: white;
    font-weight: 100;
}

.visitorLikes {
    display: flex;
    justify-content: center;

}

.visitorLikes .count {
    color: white;
    padding-right: 5px;
}
