.myexotic {
  border: 1px solid white;
  border-radius: 10px;
  flex: 1 0 220px;
  height: 550px;
  overflow: hidden;
  margin: 10px 20px;
  text-align: center;
}

.mydestTitle {
  text-align: center;
  color: white;
}

.myspecificImage {
  width: 100%;
  height: auto;
  min-height: 270px;
  max-height: 270px;
  box-sizing: border-box;
  border: 2px solid black;
  background: white;
  padding: 10px;
}

.myspecificImage:hover {
  background: rgb(64, 139, 224);
}

.mydescriptor {
  color: white;
  font-weight: 100;
}

.buddies {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 1.3em;
}

.buddies li {
  list-style-type: none;
}

.empty {
  color: white;
  font-weight: bold;
  font-size: 2em;
}
